PredictivePolicingApp/PredictivePolicingApp/Connected Services/DB_Service/DB_Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65172/DB_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:65172/DB_Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCrimeTweets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCrimeTweetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCrimeTweetsResult" nillable="true" type="q3:ArrayOfCrimeTweets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCrimeTweet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tweet_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCrimeTweetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCrimeTweetResult" type="q4:CrimeTweets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCrimeTweet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="crime_tweet" type="q5:CrimeTweets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCrimeTweetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setCrimeTweetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCrimeTweet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="crime_tweet" type="q6:CrimeTweets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCrimeTweetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCrimeTweetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCrimeTweets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="crime_tweets" nillable="true" type="q7:ArrayOfCrimeTweets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCrimeTweetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCrimeTweetsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCrimeTweet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tweet_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCrimeTweetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCrimeTweetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSVMs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSVMsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getSVMsResult" nillable="true" type="q8:ArrayOfSVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSVM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sv_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSVMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getSVMResult" type="q9:SVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSVM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="svm" type="q10:SVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSVMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setSVMResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSVM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="svm" type="q11:SVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSVMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSVMResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSVM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sv_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSVMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSVMResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSentiments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSentimentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getSentimentsResult" nillable="true" type="q12:ArrayOfSentiments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSentiment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sentiment_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSentimentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getSentimentResult" type="q13:Sentiments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSentiment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sentiment" type="q14:Sentiments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSentimentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setSentimentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSentiment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sentiment" type="q15:Sentiments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSentimentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSentimentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSentiments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sentiments" nillable="true" type="q16:ArrayOfSentiments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSentimentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSentimentsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSentiment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sentiment_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSentimentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSentimentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEntities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getEntitiesResult" nillable="true" type="q17:ArrayOfEntities" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entity_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getEntityResult" type="q18:Entities" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="entity" type="q19:Entities" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setEntityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="entity" type="q20:Entities" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEntityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entity_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteEntityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="refreshDBData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="refreshDBDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="refreshDBDataResult" nillable="true" type="q21:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>